html,
body {
  background: black;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.content {
  height: 600px;
  width: 600px;
  margin: auto;
  margin-top: calc(50vh - 300px);
}

.random-image {
  display: block;
  height: 100%;
  width: 100%;
  border: 3px solid white;
}

.tooltip {
  position: relative;
  text-align: center;
  top: calc(-50% - 30px);
  color: white;
  font-size: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hidden {
  display: none;
}

/* A ripple loader effect from https://loading.io/css/ - CC0 license */

.lds-ripple {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-color: rgba(255,255,255,1)
  }
  100% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: rgba(255,255,255,0)
  }
}
